body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    background: url("/img/clock.jpg") center;
    width: 40rem;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 5px solid black;
    border-radius: 50%;

}

.second{
    position: absolute;
    top: 50%;
    left: 48.5%;
    width: 0.3rem;
    height: 11rem;
    background-color: tomato;
    transform-origin: 50% 0;
}

.minute{
    position: absolute;
    top: 50%;
    left: 48.2%;
    width: 0.5rem;
    height: 8rem;
    background-color: black;
    transform-origin: 50% 0;
    border-radius: 1rem;
}


.hour{
    position: absolute;
    top: 50%;
    left: 48%;
    width: 0.7rem;
    height: 6rem;
    background-color: black;
    transform-origin: 50% 0;
    border-radius: 2rem;
}